@model ListaDeTarefasMVC.Models.TarefaModel
@{
    ViewData["Title"] = "Alterar tarefa na data " + Model.Data;
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <text class="card-header">Alterar tarefa na data @Model.Data</text>
                <form asp-action="AlterarTarefa">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Data" class="control-label"></label>
                            <input asp-for="Data" class="form-control" />
                            <span asp-validation-for="Data" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Horario" class="control-label"></label>
                            <input asp-for="Horario" class="form-control" />
                            <span asp-validation-for="Horario" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Atualizar" class="btn btn-sm btn-outline-primary" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-link btn-sm">Voltar</a>
</div>
